{mod_cond, all}.
{sub_dirs, [
    "rel",
    "src"
]}.
{lib_dirs,
    [
        "deps",
        "apps"
    ]
}.
{deps, [
    {lager, "3.2.1", {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {raven, ".*", {git, "https://github.com/rschlaikjer/raven-erlang.git", "master"}},
    {estatsd, ".*", {git, "https://github.com/RJ/estatsd.git", "master"}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
    {slack_rtm, ".*", {git, "https://github.com/rschlaikjer/erlang-slack-rtm-api.git", {ref, "3e78495b230e60e71e7b6a7e26fda33d1dfab1f1"}}}
]}.
{relx, [
    {release, {coronabot, "1"},
        [sasl, coronabot]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]}.
{profiles, [{prod,
    [{relx,
        [{dev_mode, false},
         {overlay, [
             {template, "files/prod.config", "releases/\{\{rel_vsn\}\}/sys.config"}
         ]},
         {include_erts, true}]}]
    }]
}.
